<%= APP_INFO[:name] %>

<h1><%= raw @page_title %></h1>

<div class="sidebar">
  <div class="unit">
    <h2>ログイン</h2>
    <div class="subunit">
      <dl>
        <dt>■ユーザー登録済の方</dt>
        <dd>
          <%= form_tag controller: 'login', action: 'auth' do %>
            <p>
              <label>
                ユーザID: <%= text_field_tag :userid, '', size: 5, maxlength: 5 %>
              </label>
            </p>
            <p>
              <label>
                パスワード: <%= password_field_tag :password, '', size: 12, maxlength: 40 %>
              </label>
            </p>
            <p>
              <%= submit_tag 'ログインする' %>
            </p>
          <% end %>
        </dd>
        <dt>■ユーザー未登録の方</dt>
          <dd>
            <p>新規ユーザー登録</p>
          </dd>
        </dl>
      </div>
    </div>

    <div class="unit">
      <h2>登録ユーザーリスト</h2>
      <div class="subunit">
        <p>登録ユーザーリスト</p>
      </div>
    </div>

    <div class="unit">
      <h2>登録曲リスト</h2>
      <div class="subunit">
        <p><%= link_to '登録曲リスト', '/musics' %></p>
      </div>
    </div>
  </div>
</div>
