<% breadcrumb :edit_user %>
<%= breadcrumbs %>

<h1><%= raw h1_title(@page_title) %></h1>

<div class="unit">
  <h2>入力フォーム</h2>
  <div class="subunit">
    <p><em>*印</em>がついている項目は入力必須項目です</p>
    <%= form_for(@user, url: :confirm_edit_user) do |f| %>
      <dl>
        <dt>ユーザーID</dt>
        <dd><%= sprintf_for_user_id(@user.id) %></dd>
        <dt><%= f.label :username, 'ユーザー名' %> <em>*</em></dt>
        <dd>
          <%= f.text_field :username, size: 30, maxlength: 30 %>
          <% unless @user.errors.messages[:username].empty? %>
            <em><%= @user.errors.messages[:username].join('/') %></em>
          <% end %>
        </dd>
        <dt><%= f.label :password, 'パスワード' %>（変更しない場合は入力不要です）</dt>
        <dd>
          <%= f.password_field :password, size: 20, maxlength: 50 %>
          <% unless @user.errors.messages[:password].empty? %>
            <em><%= @user.errors.messages[:password].join('/') %></em>
          <% end %>
        </dd>
        <dt><%= f.label :password_confirmation, 'パスワード（確認用）' %>（変更しない場合は入力不要です）</dt>
        <dd>
          <%= f.password_field :password_confirmation, size: 20, maxlength: 50 %>
          <% unless @user.errors.messages[:password_confirmation].empty? %>
            <em><%= @user.errors.messages[:password_confirmation].join('/') %></em>
          <% end %>
        </dd>
        <dt><%= f.label :cxb_id, 'CROSS×BEATS ID' %></dt>
        <dd>
          <%= f.text_field :cxb_id, size: 8, maxlength: 8 %>
          <% unless @user.errors.messages[:cxb_id].empty? %>
            <em><%= @user.errors.messages[:cxb_id].join('/') %></em>
          <% end %>
        </dd>
        <dt><%= f.label :comment, 'ユーザーコメント' %>（HTMLタグによる文字装飾はできません。URLには自動的にリンクが設定されます）</dt>
        <dd><%= f.text_area :comment, cols: 70, rows: 6 %></dd>
      </dl>
      <p>
        <%= f.submit %><input type="reset" value="入力リセット" />
        <%= f.hidden_field :new_record? %>
      </p>
    <% end %>
  </div>
</div>
