<% breadcrumb :skills %>
<%= breadcrumbs %>

<h1><%= raw h1_title(@page_title) %></h1>

<%= render 'shared/user', user: @user, edit: false %>

<%= render 'shared/skill_sum', data: @data %>

<% @data.each_value do |block_data| %>
  <%= render 'shared/skill_block', data: block_data, edit: false %>
<% end %>
