<table class="skill_confirm">
  <thead>
    <tr>
      <th class="level" colspan="2">レベル</th>
      <th class="icon"><%= image_tag 'locked.png', alt: '[L]', height: 12 %></th>
      <th class="icon"><%= image_tag 'ultimate.png', alt: '[U]', height: 12 %></th>
      <th class="rp">RP</th>
      <% if skill_old and session[:action] != :destroy %>
        <th class="rp">差異</th>
      <% end %>
      <th class="rate">RATE</th><th class="rate">ULT</th>
      <th class="mark">ランク</th><th class="mark">コンボ</th>
    </tr>
  </thead>
  <tbody>
    <% DIFFICULTIES.each do |difficulty, data| %>
      <% next unless skill.music.difficulty_exist?(difficulty) %>
    
      <% if skill_old and session[:action] != :destroy %>
        <%
          if skill.rp(difficulty)
            diff_rp = skill.rp(difficulty) - (skill_old.rp(difficulty) || 0.00)
            if diff_rp > 0
              diff_rp_class = 'diff_inc'
            elsif diff_rp < 0
              diff_rp_class = 'diff_dec'
            end
          else
            diff_rp = nil
            diff_rp_class = ''
          end
          col_count = (session[:action] == :destroy ? 7 : 8)
        %>
      <% else %>
        <% col_count = 7 %>
      <% end %>

      <tr class="<%= data[:css_class] %>">
        <th><%= image_tag data[:img_src], alt: data[:abbr], height: 12 %></th>
        <td><%= sprintf_for_level(@skill.music.level(difficulty)) %></td>
        <% case skill.status(difficulty) %>
        <% when PLAY_STATUSES[:noplay][:value] %>
          <td class="mark" colspan="<%= col_count %>"><%= PLAY_STATUSES[:noplay][:text] %></td>
        <% when PLAY_STATUSES[:failed][:value] %>
          <td class="mark" colspan="<%= col_count %>"><%= PLAY_STATUSES[:failed][:text] %></td>
        <% when PLAY_STATUSES[:cleared][:value] %>
          <td class="icon">
            <% if skill.locked(difficulty) %>
              <%= image_tag 'locked.png', alt: '[L]', height: 12 %>
            <% end %>
          </td>
          <td class="icon">
            <% if skill.ultimate(difficulty) %>
              <%= image_tag 'ultimate.png', alt: '[U]', height: 12 %>
            <% end %>
          </td>
          <td class="rp"><%= sprintf_for_rp(skill.rp(difficulty)) %></td>
          <% if skill_old and session[:action] != :destroy %>
            <td class="rp <%= diff_rp_class %>"><%= sprintf_for_diff_rp(diff_rp) %></td>
          <% end %>
          <td class="rate"><%= sprintf_for_rate(skill.rate(difficulty)) %></td>
          <td class="rate"><%= sprintf_for_rate(skill.ultimate_rate(difficulty)) %></td>
          <td class="mark">
            <%= GRADE_STATUSES[skill.grade(difficulty)][0] %>
          </td>
          <td class="mark">
            <%= COMBO_STATUSES[skill.combo(difficulty)][0] %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if !skill.comment.empty? %>
  <p>コメント: <%= skill.comment %></p>
<% end %>
