<% breadcrumb :confirm_skill %>
<%= breadcrumbs %>

<h1><%= raw h1_title(@page_title, @page_subtitle) %></h1>

<div class="unit">
  <h2>入力情報</h2>
  <div class="subunit">
    <%= render 'view', skill: @skill, skill_old: @skill_old %>
  </div>
  
  <%
    case session[:operation]
    when :create
      operation_text = '登録'
      method = 'put'
    when :update
      operation_text = '更新'
      method = 'patch'
    when :destroy
      operation_text = '削除'
      method = 'delete'
    end
  %>

  <%= form_tag(skill_path(@skill.music.text_id), method: method) do %>
    <p>以上のランクポイント情報を<%= operation_text %>します。よろしいですか?</p>
    <%= submit_tag 'はい', name: 'yes' %><%= submit_tag 'いいえ', name: 'no' %>
  <% end %>
</div>
