<% breadcrumb :edit_skill %>
<%= breadcrumbs %>

<h1><%= raw h1_title(@page_title, @page_subtitle) %></h1>

<div class="unit">
  <h2>現在の登録情報</h2>
  <div class="subunit">
    <% if @skill.new_record? %>
      <p>ランクポイント情報が登録されていません</p>
    <% else %>
      <p>最終更新時刻: <%= l @skill.updated_at %></p>
      <table class="skill_confirm">
        <thead>
          <tr>
            <th class="level" colspan="2">レベル</th>
            <th class="icon"><%= image_tag 'locked.png', alt: '[L]', height: 12 %></th>
            <th class="icon"><%= image_tag 'ultimate.png', alt: '[U]', height: 12 %></th>
            <th class="rp">RP</th><th class="rate">RATE</th><th class="rate">ULT</th>
            <th class="mark">ランク</th><th class="mark">コンボ</th>
          </tr>
        </thead>
        <tbody>
          <% DIFFICULTIES.each do |difficulty, data| %>
            <tr class="<%= data[:css_class] %>">
              <th><%= image_tag data[:img_src], alt: data[:abbr], height: 12 %></th>
              <td><%= sprintf_for_level(@skill.music.level(difficulty)) %></td>
              <% case @skill.status(difficulty) %>
              <% when PLAY_STATUSES[:noplay][:value] %>
                <td class="mark" colspan="7"><%= PLAY_STATUSES[:noplay][:text] %></td>
              <% when PLAY_STATUSES[:failed][:value] %>
                <td class="mark" colspan="7"><%= PLAY_STATUSES[:failed][:text] %></td>
              <% when PLAY_STATUSES[:cleared][:value] %>
                <td class="icon">
                  <% if @skill.locked(difficulty) %>
                    <%= image_tag 'locked.png', alt: '[L]', height: 12 %>
                  <% end %>
                </td>
                <td class="icon">
                  <% if @skill.ultimate(difficulty) %>
                    <%= image_tag 'ultimate.png', alt: '[U]', height: 12 %>
                  <% end %>
                </td>
                <td class="rp"><%= sprintf_for_rp(@skill.rp(difficulty)) %></td>
                <td class="rate"><%= sprintf_for_rate(@skill.rate(difficulty)) %></td>
                <td class="rate"><%= sprintf_for_rate(@skill.ultimate_rate(difficulty)) %></td>
                <td class="mark">
                  <%= GRADE_STATUSES[@skill.grade(difficulty)][0] %>
                </td>
                <td class="mark">
                  <%= COMBO_STATUSES[@skill.combo(difficulty)][0] %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <% if @skill.comment and !@skill.comment.empty? %>
      <p>コメント: <%= @skill.comment %></p>
    <% end %>
  </div>
</div>

<div class="unit">
  <h2>編集フォーム</h2>
  <div class="subunit">
    <p><em>「未取得/ロック譜面」をチェックすると計算対象外になります</em></p>
    <%= form_for(@skill, url: url_for(action: :confirm, id: @skill.music.text_id)) do |f| %>
      <table class="skill_form">
        <tbody>
          <% DIFFICULTIES.each do |difficulty, data| %>
            <tr class="<%= data[:css_class] %>">
              <th class="difficulty" rowspan="2">
                <%= image_tag data[:img_src], alt: data[:abbr], height: 12 %>
              </th>
              <td>
                <label>
                  <%= f.radio_button "#{difficulty}_status".to_sym, PLAY_STATUSES[:cleared][:value] %><%= PLAY_STATUSES[:cleared][:text] %>:
                </label>
                <label>
                  RP:
                  <%= f.text_field "#{difficulty}_rp".to_sym, size: 6, maxlength: 6, value: number_with_precision(@skill.rp(difficulty), precision: 2) %>
                </label>
                <label>
                  CLEAR RATE:
                  <%= f.text_field "#{difficulty}_rate".to_sym, {size: 3, maxlength: 3} %>%
                </label>
                <label>
                  ランク:
                  <%= f.select "#{difficulty}_grade".to_sym, GRADE_STATUSES %>
                </label>
                <label>
                  コンボ:
                  <%= f.select "#{difficulty}_combo".to_sym, COMBO_STATUSES %>
                </label>
                <label>
                  <%= f.check_box "#{difficulty}_ultimate".to_sym %>ULTIMATE
                </label>
              </td>
            </tr>
            <tr class="<%= data[:css_class] %>">
              <td>
                <label>
                  <%= f.radio_button "#{difficulty}_status".to_sym, PLAY_STATUSES[:failed][:value] %><%= PLAY_STATUSES[:failed][:text] %>
                </label>
                /
                <label>
                  <%= f.radio_button "#{difficulty}_status".to_sym, PLAY_STATUSES[:noplay][:value] %><%= PLAY_STATUSES[:noplay][:text] %>
                </label>
                <label>
                  <%= f.check_box "#{difficulty}_locked".to_sym %>未取得/ロック譜面
                </label>
              </td>
            </tr>
          <% end %>
          <tr>
            <th>コメント</th>
            <td><%= f.text_field :comment, size: 100 %></td>
          </tr>
        </tbody>
      </table>
      <p>
        <%= f.submit %><%= f.submit '削除', name: 'delete', disabled: @skill.new_record? %><input type="reset" value="入力リセット" />
        <%= f.hidden_field :new_record?, name: 'new_record' %>
      </p>
    <% end %>
  </div>
</div>
