<% breadcrumb :edit_skill %>
<%= breadcrumbs %>

<h1><%= raw h1_title(@page_title, @page_subtitle) %></h1>

<div class="unit">
  <h2>現在の登録情報</h2>
  <div class="subunit">
    <% if @skill.new_record? %>
      <p>ランクポイント情報が登録されていません</p>
    <% else %>
      <p>最終更新時刻: <%= l @skill.updated_at %></p>
      <%= render 'view', skill: @skill_old, skill_old: nil %>
    <% end %>
  </div>
</div>

<div class="unit">
  <h2>編集フォーム</h2>
  <div class="subunit">
    <p><em>「未取得/ロック譜面」をチェックすると計算対象外になります</em></p>
    <p><em>RP省略時はクリアレートより自動計算します</em></p>
    <%= form_for(@skill, url: :confirm_skill) do |f| %>
      <table class="skill_form">
        <tbody>
          <% DIFFICULTIES.each do |difficulty, data| %>
            <% next unless @skill.music.difficulty_exist?(difficulty) %>

            <%= fields_for(difficulty) do |df| %>
              <tr class="<%= data[:css_class] %>">
                <th class="difficulty" rowspan="2">
                  <%= image_tag data[:img_src], alt: data[:abbr], height: 12 %>
                </th>
                <td>
                  <%= df.radio_button :status, PLAY_STATUSES[:cleared][:value], checked: @skill.status(difficulty) == PLAY_STATUSES[:cleared][:value] %><%= df.label :status, PLAY_STATUSES[:cleared][:text] %>:
                  <%= df.label :rp, 'RP' %>:
                  <%= df.text_field :rp, size: 6, maxlength: 6, value: number_with_precision(@skill.rp(difficulty), precision: 2) %>
                  <%= df.label :rate, 'CLEAR RATE' %>:
                  <%= df.text_field :rate, size: 3, maxlength: 3, value: @skill.rate(difficulty) %>%
                  <%= df.label :grade, 'ランク' %>:
                  <%= df.select :grade, options_for_select(GRADE_STATUSES, @skill.grade(difficulty)) %>
                  <%= df.label :combo, 'コンボ' %>:
                  <%= df.select :combo, options_for_select(COMBO_STATUSES, @skill.combo(difficulty)) %>
                  <%= df.check_box :ultimate, checked: @skill.ultimate(difficulty) %><%= df.label :ultimate, 'ULTIMATE' %>
                </td>
              </tr>
              <tr class="<%= data[:css_class] %>">
                <td>
                  <%= df.radio_button :status, PLAY_STATUSES[:failed][:value], checked: @skill.status(difficulty) == PLAY_STATUSES[:failed][:value] %><%= df.label :status, PLAY_STATUSES[:failed][:text] %> /
                  <%= df.radio_button :status, PLAY_STATUSES[:noplay][:value], checked: @skill.status(difficulty) == PLAY_STATUSES[:noplay][:value] %><%= df.label :status, PLAY_STATUSES[:noplay][:text] %>
                  <%= df.check_box :locked, checked: @skill.locked(difficulty) %><%= df.label :locked, '未取得/ロック譜面' %>
                </td>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <th><%= f.label :comment, 'コメント' %></th>
            <td><%= f.text_field :comment, size: 100 %></td>
          </tr>
        </tbody>
      </table>
      <p>
        <%= f.submit %><%= f.submit '削除', name: 'delete', disabled: @skill.new_record? %><input type="reset" value="入力リセット" />
        <%= f.hidden_field :new_record? %>
      </p>
    <% end %>
  </div>
</div>
