<% breadcrumb :edit_skill %>
<%= breadcrumbs %>

<h1><%= raw h1_title(@page_title, @page_subtitle) %></h1>

<div class="unit">
  <h2>現在の登録情報</h2>
  <div class="subunit">
    <% if @skill.new_record? %>
      <p>ランクポイント情報が登録されていません</p>
    <% else %>
      <p>最終更新時刻: <%= l @skill.updated_at %></p>
      <table class="skill_confirm">
        <thead>
          <tr>
            <th class="level" colspan="2">レベル</th>
            <th class="icon"><%= image_tag 'locked.png', alt: '[L]', height: 12 %></th>
            <th class="icon"><%= image_tag 'ultimate.png', alt: '[U]', height: 12 %></th>
            <th class="rp">RP</th><th class="rate">RATE</th><th class="rate">ULT</th>
            <th class="mark">ランク</th><th class="mark">コンボ</th>
          </tr>
        </thead>
        <tbody>
          <% DIFFICULTIES.each do |difficulty, data| %>
            <tr class="<%= data[:css_class] %>">
              <th><%= image_tag data[:img_src], alt: data[:abbr], height: 12 %></th>
              <td><%= sprintf_for_level(@skill.music.level(difficulty)) %></td>
              <% case @skill.status(difficulty) %>
              <% when PLAY_STATUSES[:noplay][:value] %>
                <td class="mark" colspan="7"><%= PLAY_STATUSES[:noplay][:text] %></td>
              <% when PLAY_STATUSES[:failed][:value] %>
                <td class="mark" colspan="7"><%= PLAY_STATUSES[:failed][:text] %></td>
              <% when PLAY_STATUSES[:cleared][:value] %>
                <td class="icon">
                  <% if @skill.locked(difficulty) %>
                    <%= image_tag 'locked.png', alt: '[L]', height: 12 %>
                  <% end %>
                </td>
                <td class="icon">
                  <% if @skill.ultimate(difficulty) %>
                    <%= image_tag 'ultimate.png', alt: '[U]', height: 12 %>
                  <% end %>
                </td>
                <td class="rp"><%= sprintf_for_rp(@skill.rp(difficulty)) %></td>
                <td class="rate"><%= sprintf_for_rate(@skill.rate(difficulty)) %></td>
                <td class="rate"><%= sprintf_for_rate(@skill.ultimate_rate(difficulty)) %></td>
                <td class="mark">
                  <%= GRADE_STATUSES[@skill.grade(difficulty)][0] %>
                </td>
                <td class="mark">
                  <%= COMBO_STATUSES[@skill.combo(difficulty)][0] %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <% if @skill.comment and !@skill.comment.empty? %>
      <p>コメント: <%= @skill.comment %></p>
    <% end %>
  </div>
</div>

<div class="unit">
  <h2>編集フォーム</h2>
  <div class="subunit">
    <p><em>「未取得/ロック譜面」をチェックすると計算対象外になります</em></p>
    <%= form_tag(confirm_skill_path) do %>
      <table class="skill_form">
        <tbody>
          <% DIFFICULTIES.each do |difficulty, data| %>
            <tr class="<%= data[:css_class] %>">
              <th class="difficulty" rowspan="2">
                <%= image_tag data[:img_src], alt: data[:abbr], height: 12 %>
              </th>
              <td>
                <label>
                  <%= radio_button_tag "[#{difficulty}]status", PLAY_STATUSES[:cleared][:value], @skill.status(difficulty) == PLAY_STATUSES[:cleared][:value] %><%= PLAY_STATUSES[:cleared][:text] %>:
                </label>
                <label>
                  RP:
                  <%= text_field_tag "[#{difficulty}]rp", @skill.rp(difficulty), size: 6, maxlength: 6, value: number_with_precision(@skill.rp(difficulty), precision: 2) %>
                </label>
                <label>
                  CLEAR RATE:
                  <%= text_field_tag "[#{difficulty}]rate", @skill.rate(difficulty), {size: 3, maxlength: 3} %>%
                </label>
                <label>
                  ランク:
                  <%= select_tag "[#{difficulty}]grade", options_for_select(GRADE_STATUSES, @skill.grade(difficulty)) %>
                </label>
                <label>
                  コンボ:
                  <%= select_tag "[#{difficulty}]combo", options_for_select(COMBO_STATUSES, @skill.combo(difficulty)) %>
                </label>
                <label>
                  <%= check_box_tag "[#{difficulty}]ultimate", @skill.ultimate(difficulty) %>ULTIMATE
                </label>
              </td>
            </tr>
            <tr class="<%= data[:css_class] %>">
              <td>
                <label>
                  <%= radio_button_tag "[#{difficulty}]status", PLAY_STATUSES[:failed][:value], @skill.status(difficulty) == PLAY_STATUSES[:failed][:value] %><%= PLAY_STATUSES[:failed][:text] %>
                </label>
                /
                <label>
                  <%= radio_button_tag "[#{difficulty}]status", PLAY_STATUSES[:noplay][:value], @skill.status(difficulty) == PLAY_STATUSES[:noplay][:value] %><%= PLAY_STATUSES[:noplay][:text] %>
                </label>
                <label>
                  <%= check_box_tag "[#{difficulty}]locked", @skill.locked(difficulty) %>未取得/ロック譜面
                </label>
              </td>
            </tr>
          <% end %>
          <tr>
            <th>コメント</th>
            <td><%= text_field_tag 'skill[comment]', @skill.comment, size: 100 %></td>
          </tr>
        </tbody>
      </table>
      <p>
        <%= submit_tag @skill.new_record? ? t('helpers.submit.create') : t('helpers.submit.update') %><%= submit_tag '削除', name: 'delete', disabled: @skill.new_record? %><input type="reset" value="入力リセット" />
        <%= hidden_field_tag 'new_record', @skill.new_record? %>
      </p>
    <% end %>
  </div>
</div>
