<h1><%= @page_title %></h1>

<div class="unit">
  <h2>ランクポイント</h2>
  <div class="subunit">
    <table class="skill_sum">
      <thead>
        <tr>
          <th><%= @blocks[:bonus][:title] %></th>
          <th><%= @blocks[:regular][:title] %></th>
          <th>合計RP</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= sprintf_for_rp(@blocks[:bonus][:sum_rp]) %></td>
          <td><%= sprintf_for_rp(@blocks[:regular][:sum_rp]) %></td>
          <td><%= sprintf_for_rp(@blocks[:bonus][:sum_rp] + @blocks[:regular][:sum_rp]) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% @blocks.each_value do |block| %>
  <%= render 'block', block: block, edit: @edit %>
<% end %>
