<% breadcrumb :skills %>
<%= breadcrumbs %>

<h1><%= raw h1_title(@page_title) %></h1>

<%= render 'shared/user', user: @user, edit: true %>

<%= render 'shared/skill_sum', skill_set: @skill_set %>

<% @skill_set.each do |block| %>
  <%= render 'shared/skill_block', block: block, edit: true %>
<% end %>
