<div class="unit">
  <h2></h2>
  <div class="subunit">
    <table class="user_info">
      <tbody>
        <tr>
          <th>ユーザー名</th>
          <td><%= user.username %></td>
        </tr>
        <% if edit %>
          <tr>
            <th>RP表公開URL</th>
            <td>
              <%= link_to view_path(sprintf_for_user_id(user.id), only_path: false), view_path(sprintf_for_user_id(user.id)) %>
              <br/>
              <%= link_to iglock_path(sprintf_for_user_id(user.id), only_path: false), iglock_path(sprintf_for_user_id(user.id)) %>（未取得/ロックフラグ無視版）
            </td>
          </tr>
        <% end %>
        <% if user.cxbid %>
          <tr>
            <th>C×B ID</th>
            <td><%= user.cxbid %></td>
          </tr>
        <% end %>
        <% if user.comment %>
          <tr>
            <th>コメント</th>
            <td><%= simple_format auto_link(h(user.comment)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if edit %>
      <p>
        ユーザー情報編集
      </p>
    <% else %>
      <p>
        <%= link_to_unless_current '通常RP表', view_path(sprintf_for_user_id(user.id)) %>
        / <%= link_to_unless_current 'ロック状態無視RP表', iglock_path(sprintf_for_user_id(user.id)) %>
      </p>
    <% end %>
  </div>
</div>
