<div class="unit">
  <h2><%= block[:title] %></h2>
  <div class="subunit">
    <table id="<%= block[:id] %>" class="music_list">
      <thead>
        <tr>
          <th class="number">#</th><th class="title">タイトル</th>
          <% DIFFICULTIES.each do |difficulty, data| %>
            <th class="<%= data[:css_class] %> level"><%= data[:abbr] %><br/>Lv</th>
            <th class="<%= data[:css_class] %> notes"><%= data[:abbr] %><br/>Notes</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% block[:musics].each do |music| %>
          <%= render 'music', music: music %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
