<tr>
  <th><%= music.number %></th>
  <td class="title text">
    <%= music.title %>
    <% if music.subtitle %>
      <small><%= music.subtile %></small>
    <% end %>
  </td>
  <% DIFFICULTIES.each do |difficulty, data| %>
    <td class="<%= data[:css_class] %> number">
      <%= sprintf_for_level(music.level(difficulty)) %>
    </td>
    <td class="<%= data[:css_class] %> number">
      <%= sprintf_for_notes(music.notes(difficulty)) %>
    </td>
  <% end %>
</tr>
